
html{
    background-color: #beef00;
    margin-left: 40px;
      scroll-behavior: smooth;     
}

main{
   
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}

section {
    
    padding: 5em 2em;
    padding-top: 5em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    border-radius: 2px;
    border: 2px;
    border-color: white;
}
h1#name{
    font-weight: bolder;
    font-size: 50px;
    color: white;
    background-color: #657a00;
    padding: 10px;
    border-radius: 20px;
    display:inline-block;
}
a{ font-family: monospace;
    font-size: 30px;
    color:white;
    text-decoration: none;

}
h2{
    color:black;
    font-size: 38px;
    text-transform: uppercase;
    
}
h2.head , .skilldesc{
    border: 5px solid #73AD21;
    border-style: solid;
    display: inline-block;
    padding-left: .2em;
    padding-right: .2em;
}

.skilltitle{
   
    display: inline-block;
    padding-left: .2em;
    padding-right: .2em;
}

.swdev{
    font-size: 55px;
    padding-bottom: 30px;
}
.desc{
    font-size: 24px;
    text-align:justify;
    padding-right: 25px;
    padding-left: 15px;
    align:center;
}

ul{
    list-style: none;
    width: 900px; 
    width: 100%; 
    text-align: center;
    white-space:nowrap
}

.aboutme, .skill{
    width: 700px;
    margin: auto;
    border: 5px solid #73AD21;
    padding-bottom: 40px;
    font-weight: bold;
    
}
#int1 {
    font-size:1.2em;
}
nav li{
    width:400px;
    color:white;
    list-style-type: none;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 40px;
    display: inline; 
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
   border-style: solid;

}

section img{
    border-radius:150px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.description {
    
    padding-right: 140px;
}

.skill-inner{
    overflow: hidden;
    width: 2000px;
}

.skilldesc{
    margin-right:40px;
    margin-left:15px;
    overflow: hidden;
  float: left;
  max-width: 170px;
}