


    *{margin: 0;
        box-sizing: content-box;
        scroll-behavior: smooth;}

.grid {
    display:grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "danthemanimage aboutme ."
    "music music music"
    "blank bookings blank2";
    background-image: url('../images/headerimage.jpg');
   background-repeat: no-repeat;
   background-size: 100% ;
}

.aboutme
{
    grid-area: aboutme;
    margin-top:50px;
    margin-left:30px;
    background-size: contain;
        color: red;
        font-weight: bolder;
}

header{
    background-color:black ;
    padding-left:5%;
    padding-top:0px;
    height:80px;
    padding: 20px;
    display: flex;
    align-items: baseline;
    padding-top:0px !important;

}

.logo {
    float:left; height:80px;
    padding-right:15%;
}

.socialheader {
    width: 400px; float:left; height:60px;
    vertical-align: bottom;
    padding-top:10px;

}

.music{
    grid-area: music;
    margin-top:105px;
    border-top:5px darkred solid;
    overflow: hidden;
}
.socialheader img {
    margin-left:60px;
    float: left;
}

* {
    font-family: monospace;
}

.notimp {
    font-size: 36px;;
}

h1{font-size: 48px;}

.aboutme > p,span {
    font-size: 24px;
}

.socialheader img {
    
    vertical-align: middle;

}

.yticon{    padding-top:5px;

}

.redtop {
    height:5em;
    background-color: darkred;
}

.dropdown{
    margin: 0;
  position: fixed;
  top: 0%;
  right:0%

}
.danthemanimage img {
    border-radius: 50%;
    float:right;
}

.danthemanimage{
    grid-area: danthemanimage;
    width:500px;
margin-top:50px;}

.redtop ul {
list-style-type: circle;
display: table;
height:5em;
padding:1em;
width:712px;
margin: 0 auto;

}

.redtop li {
    display:table-cell;
    float:left;
    color:white;
    font-size: 30px;
    padding-left:7%;
    vertical-align: middle;
    height:5em;
    text-align: center;
}

hr{
    color:red;
    width:1em;
}

.video1 {
    width: 557px;
    height: 315px;
}

.music:hover{
    background-color: darkred;
    transition: 1.5s;
}

.music{
    background-image: none !important;
    border-bottom: 5px black solid;
    border-top: 5px black solid;

}

.bandimage{
width:500px;    
}

.music > div {float: left;
   height: 818.312}

.video2 {
    max-width:400px;
}

.video2 iframe{
    width: 400px;
    height:300px;
}

.music div{
    border: 3px solid transparent;
}

.music div:hover{
    background-color: grey;
    transition: 1s;
}

.bookings{
    grid-area:bookings;
    text-align: center;
    background-color: darkred;
    padding-bottom:40px;
}

.footer{
    background-color:black;
    height:60px;
    padding-top:40px;
    margin-top: 10px;
}

.blank {grid-area: blank;
background-color: darkred;}


.blank2 {grid-area: blank2;
    background-color: darkred;}

    .container{  font-size:36px;}
    
    .form-group {height:50px;}

    .container{ text-align: start;}

 label {width:300px;
display:inline-block}

i {width:50px;
    display:inline-block;}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  article {
    padding: 30px;
    width: 55em;
    font-size: 16px;
    line-height: 1.5em;
  }
  
  article h2 {
    font-weight: 500;
    font-size: 28px;
  }
  
  .logo {
    margin: 0 30px 0 10px;
    font-size: 1.5em;
  }

  @media (max-width: 767px)  {
    .danthemanimage {
        width:250px;
    margin-top:50px;}

    .danthemanimage img {float: left;
    margin-left:2em;}

    .logo{
        margin:0 0;
        padding-right:5%;
    }

    header{ padding:.3em;
    padding-left:1em;}

    .socialheader{padding-top:.5em;}

    .grid{
        background-image: url('../images/headerimage.jpg');
        background-repeat: no-repeat;
        background-size: auto 500px;
        grid-template-areas: "danthemanimage aboutme aboutme"
         "music music music"
         "blank bookings blank2";
    }
        .aboutme {
width: fit-content;
        }
       
    
}

